/*

--- Table of Contents ---

- Basics
- Header
- Navigation
- Hero, Mini
- Section, Article, Aside
- Review Page Specific
- Feedback Page Specific
- Contact Us Page Specific
- Footer
- Typography
- Links
- Lists
- Forms, Input
- Flex Utilities
- Misc
- Responsive CSS
- Media Queries - Reference

*/

/* Basics */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white; }

#container {
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto;
    padding: 0; }

/* Header */

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 25%;
    flex: 1 0 25%;
    text-align: center;
    background-color: white; }

header img {
    max-width: 50%;
    height: auto;
    margin: 1em 3em; }

/* Navigation */

nav {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 75%;
    flex: 1 0 75%;
    font-size: 1em;
    text-align: right;
    background-color: white; }

nav ul {
    margin-right: 1.5em;
    list-style: none; }

nav ul li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 1.5em; }

/* Hero, Mini */

#hero, #mini1, #mini2, #mini3 {
    height: 55%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    background-image: url(../images/hero-png8.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center; }

#mini1, #mini2, #mini3 {
    height: 20%; }

#mini1 {
    background-image: url(../images/mini-1.png);}

#mini2 {
    background-image: url(../images/mini-2.png);}

#mini3 {
    background-image: url(../images/mini-3.png);}

#hero form {
    font-family: "Lato";
    font-size: 1em;
    width: 60%; }

#hero input[type=text] {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    float: left;
    padding: 1em 0 1em 1em;
    width: 40%;
    border: 0 solid white;
    border-width: 1px 0 1px 1px;
    border-radius: 32px 0 0 32px;
    font-size: 1em;
    color: #1481BA;
    text-align: center; }

#hero input::placeholder {
    color: #11B5E4; }

#hero input[type=text]:focus {
    outline: none; }

#hero input[type=submit] {
    float: left;
    width: 20%;
    padding: 1em 0;
    border: 0 solid #11B5E4;
    border-width: 1px 1px 1px 0;
    border-radius: 0 32px 32px 0;
    font-size: 1em;
    color: white;
    background-color: #11B5E4;
    transition: .20s ease; }

#hero input[type=submit]:hover {
    border-color: #1481BA;
    background-color: #1481BA;
    cursor: pointer; }

/* Section, Article, Aside */

section h3 {
    color: #11b5e4;
    margin: 3em 3em 1.5em 3em; }

section p {
    margin: 0 4em 3em 4em; }

section ul {
    list-style-position: inside;
    margin: 0 3.5em; }

section ul li {
    color: #1481BA;
    margin: 1.5em 0; }

.reviews, .content {
    height: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }

article {
    flex: 1 0 65%;
    background-color: white; }

aside {
    flex: 1 0 35%;
    background-color: white; }

aside i {
    color: #11B5E4; }

/* Reviews Page Specific */

.review-article {
    flex: 0 1 50%; }

.review-aside {
    flex: 1 0 50%; }

.ratings {
    margin: 6em 0;
    text-align: center; }

.ratings p {
    margin-bottom: 1em; }

.ratings i {
    font-size: 2em;
    margin-bottom: 1em; }

aside img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 0;
    border-radius: 4px;
    box-shadow: 4px 4px 4px #CCC; }

.stars1, .stars2, .stars3 {
    font-size: 0.9em; }

.stars1::after { /* stars next to rating */
    content: "\f005\f005\f005\f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #11b5e4; }

.stars2::after { /* stars next to rating */
    content: "\f005\f005\f005\f005\f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #11b5e4; }

.stars3::after { /* stars next to rating */
    content: "\f005\f005\f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #11b5e4; }

/* Feedback Page Specific */

#fb {
    margin-left: 4em; }

#fb p {
    margin: 0 0 1em; }

.feedback {
    flex: 0 0 40%; }

.fb-form {
    flex: 0 0 60%; }

label {
    margin-right: 0.5em;
    min-width: 4em;
    font-size: 1em;
    text-align: right; }

.spc { /* space out form elements */
    margin-top: 1px;
    margin-bottom: 1em; }

.input-width {
    width: 100% !important;
    margin: 0 4em 0 0 !important; }

/* Contact Us Page Specific */

.contact-item {
    flex: 0 0 25%; }

.contact-item i {
    color: #0CAADC;
    font-size: 3em;
    font-weight: 700; }

.contact-item p {
    margin: 1em 1em 3em 1em;
    text-align: center; }

#map iframe {
    margin-bottom: 1em;
    width: 100%;
    height: 350px; }

/* Footer */

footer {
    flex: 0 0 100%;
    font-size: 1em;
    text-align: center;
    background-color: white; }

footer a {
    font-weight: normal; }

footer p {
    margin: 2em 0;
    font-size: 1em;
    line-height: 0;
    color: #11B5E4; }

footer p i {
    font-size: 2em;
    margin: 0 0.3em; }

/* Typography */

body { 
    font-family: "Lato", sans-serif;
    color: #2E3B49;
    font-size: 1em; }

h1, h2, h3, h4 { 
    font-weight: bold;
    color: #0CAADC; }

p {
    font-size: 1em;
    line-height: 3em;
    color: #2E3B49; }

/* Links */

a {
    font-size: 1em;
    font-weight: bold;
    color: #11B5E4;
    text-decoration: none;
    letter-spacing: 0.05em;
    transition: .20s ease; }

i {
    transition: .20s ease; }

a:hover {
    color: #1481BA; }

.ratings i:hover {
    color: #EA3546; }

a:active {
    color: #1481BA; }

.active {
    padding: 1em;
    border-radius: 4px;
    background-color: #11B5E4; }

.active a, .active a:hover {
    color: white; }

/* Lists */

ul {
    margin: 0;
    padding: 0; }

/* Forms, Input */

aside form {
    padding-bottom: 1.5em }

aside input[type=text], select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width: calc(100% - 8em);
    margin: 0 4em;
    padding: 1em 1.2em;
    border: 1px solid #CCC;
    border-radius: 4px;
    font-family: "Lato";
    font-size: 1em; }

select {
    background-image: url(../images/arrow.png);
    background-position: 98% center;
    background-repeat: no-repeat; }

aside input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float: right;
    margin: 0 4em 1em 0;
    padding: 1em 1.2em;
    color: white;
    background-color: #11B5E4;
    border: none;
    border-radius: 4px;
    font-family: "Lato";
    font-size: 1em;
    transition: .20s ease; }

aside input[type=submit]:hover {
    background-color: #1481BA;
    cursor: pointer; }

aside input[type=text]:focus, select {
    outline: none; }

aside input[type=radio], aside input[type=checkbox] {
    margin-left: 2em;
    margin-right: 0.5em;
    margin-bottom: 1em; }

/*  Flex Utilities */

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.inline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }

.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

.jus-ctr {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

.ali-ctr {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

/* Misc */

hr {
    flex: 0 0 100%;
    margin: 0 auto;
    border-width: 0;
    border-top: 1px solid #e1e1e1; }

/* Responsive CSS */

/* For Screen and Tablet */ @media (min-width: 768px) {
    
#container {
    width: 80%; }}

/* For Mobile Devices */ @media (max-width: 768px) {
    
    #container {
        width: 100%; }

    header, nav {
        height: auto;
        -webkit-box-flex: 1;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%; }

    header img {
        max-width: 40%;
        height: auto;
        margin: 1.5em auto; } 
    
    nav {
        text-align: center; }
    
    nav ul {
        margin: 0;
        padding: 0; }

    nav ul li {
        display: block;
        padding: 2em 2em;
        margin-left: 0; }
    
    .active {
        padding: 2em 2em;
        border-radius: 0;
        background-color: #11B5E4; }

    #hero {
        height: 35%; }

    #hero form {
        display: block;
        margin: 0 10%;
        width: 80%; }

    #hero input[type=text] {
        float: none;
        margin: 1em 0;
        padding: 1em;
        width: 100%;
        font-size: 1em;
        border: 0 solid white;
        border-width: 1px;
        border-radius: 32px; }

    #hero input[type=submit] {
        float: none;
        margin: 1em 0;
        padding: 1em;
        width: 100%;
        font-size: 1em;
        border: 0 solid #11B5E4;
        border-width: 1px;
        border-radius: 32px; }

    section h3 {
        margin: 3em 1.5em 1.5em 1.5em; }

    section p {
        margin: 0 2em 3em 2em; }

    article, .feedback {
        flex: 0 0 100%; }

    aside, .fb-form {
        flex: 0 0 100%; }

    h1, h2, h3, h4 {
        text-align: center; }
    
    p {
        line-height: 2em; }
    
    footer a {
        font-weight: normal; }
    
    footer p {
        font-size: 1.1em; }

    .review-article {
        flex: 0 0 100%; }

    .review-aside {
        flex: 0 0 100%; }
    
    aside img {
        margin-top: 0;
        width: 95%; }
        
    .ratings {
        margin: 0 auto; }
    
    #fb {
        margin: 0 2em; }
    
    aside input[type=text] {
        margin: 0 2em;
        width: calc(100% - 4em); }
    
    aside input[type=submit] {
        margin-right: 2em; }
    
    .input-width {
        margin: 0 2em !important; }
    
    label {
        margin-bottom: 1em;
        text-align: left; }
    
    .wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    
    .contact-item {
        flex: 0 0 100%; }}

/* Media Queries - Reference */

@media (min-width: 768px) {} /* Tablet & Screen */ 
@media (max-width: 768px) {} /* Mobile Devices */